// Will set placeholder color
@mixin set-placeholder-color( $color ) {

	// WebKit browsers
	&::-webkit-input-placeholder {
		color: $color;
	}

	// Mozilla Firefox 4 to 18
	&:-moz-placeholder {
		color: $color;
		opacity:  1;
	}

	// Mozilla Firefox 19+
	&::-moz-placeholder {
		color: $color;
		opacity:  1;
	}

	// Internet Explorer 10+
	&:-ms-input-placeholder {
		color: $color;
	}
}
