@import "mixins";
@import "settings";

$loading-min-height: 150px;
$light-blue: rgba(17,89,189,.05);
$light-gray: rgba(#000,.07);
$container-border: 1px solid $light-gray;

$sessions-bp-small-width: 620px;
$sessions-bp-small: "screen and (min-width: " + $sessions-bp-small-width + ");";

$sessions-bp-medium-width: 720px;
$sessions-bp-medium: "screen and (min-width: " + $sessions-bp-medium-width + ");";

$sessions-bp-full-width: 960px;
$sessions-bp-full: "screen and (min-width: " + $sessions-bp-full-width + ");";

$filter-height: 40px;

#wpcampus-main .row {
	max-width: 1200px;
}

.wpcampus-sessions-container {

	.wpcampus-sessions-filters {

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;

			legend {
				background: transparent;
				border: 0;
				margin: 0;
				padding: 0;
			}
		}

		select,
		input[type="text"],
		input[type="search"],
		input[type="submit"] {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			font-size: 1rem;
			line-height: 1.3rem;
			padding: 0.5rem;
		}

		input[type="text"],
		input[type="search"] {
			min-height: $filter-height;
			@include set-placeholder-color( #888 );
		}

		input[type="submit"] {
			min-height: $filter-height;
		}

		.wpcampus-sessions-update {
			grid-column: 1 / span 2;
			background: $wpc-light-blue;
			border: 1px solid $wpc-light-blue;

			&:hover,
			&:focus {
				background: $wpc-royal-blue;
				color: #fff;
			}
		}

		.wpcampus-sessions-filter-field {

			&--assets {
				grid-column: 1 / span 2;
			}

			&--search {
				grid-row: 3;
				grid-column: 1 / span 2;
			}

			&__label {
				display: block;
				color: #222;
				font-size: 0.9em;
				font-weight: bold;
				margin: 0 0 0.5em 0;
			}
		}

		.wpcampus-sessions-filter-group {

			&--assets {
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				border: 1px solid #ccc;
				min-height: 40px;
				padding: 0.5em;

				label {
					margin: 0;
				}

				input {
					margin: 0 0.25em 0;
				}
			}
		}

		.wpcampus-sessions-filters-form {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto auto;
			grid-column-gap: 0.5em;
			grid-row-gap: 0.5em;
			justify-items: stretch;
			align-items: stretch;
		}
	}

	.wpcampus-sessions {

		a {
			color: inherit;

			&:hover,
			&:focus {
				color: $wpc-royal-blue;
			}
		}

		.session-title {
			font-size: 1.4em;
			line-height: 1.5;
			font-weight: 600;
			margin: 0 0 0.5em;
		}

		.session-metas,
		.session-subjects {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 2px 0 0 0;
			font-size: 95%;
			line-height: 1.6;
			color: #444;
		}

		.session-metas {

			.session-meta {

				&:after {
					content: '-';
					margin: 0 7px;
				}
				
				&:last-child:after {
					display: none;
				}
			}
		}

		.session-subjects {
			font-style: italic;

			.session-subject {

				&:after {
					content: ', ';
					margin: 0 2px 0 1px;
				}

				&:last-child:after {
					display: none;
				}
			}
		}

		.session-sidebar {
			grid-column: 1 / span 2;

			ul, li {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				background: $wpc-light-blue;
				text-align: center;

				.session-sidebar__asset {
					display: block;
					padding: 0.5em;
				}

				a.session-sidebar__asset {
					color: $wpc-royal-blue;
					text-decoration: none;

					i.conf-sch-icon {
						text-decoration: none;
					}

					&__label {
						text-decoration: underline;
					}

					&:hover,
					&:focus {
						background: $wpc-royal-blue;
						color: #fff;
					}
				}
			}

			ul {
				display: grid;
				grid-template-columns: auto;
				grid-row-gap: 0.3em;
			}
		}

		.session-speakers {
			display: grid;
			grid-row-gap: 0.3em;
			justify-items: stretch;
			align-items: stretch;
			list-style: none;
			margin: 0;

			.session-speaker {
				display: block;
				color: #222;

				img {
					display: inline-block;
					background: #fff;
					width: 50px;
					height: auto;
					line-height: 50px;
					border-radius: 50%;
					vertical-align: middle;
					margin: 0;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					background: rgba(#000,0.05); //$light-blue;
					color: #222;
					text-decoration: none;
					padding: 0.65rem;

					.session-speaker__name {
						padding-left: 0.75rem;
						font-size: 1.1rem;
						text-decoration: underline;
					}

					&:hover,
					&:focus {
						background: $wpc-royal-blue;
						color: #fff;
					}
				}

				&:first-child, &:nth-child(2) {
					padding-top: 0;
				}

				&:only-child {
					grid-column: 1 / span 2;
				}
			}
		}

		.session-info-wrapper {
			display: grid;
			grid-row-gap: 0.3em;
			flex: 1;

			.session-info {
				grid-column: 1 / span 2;
				padding: 1rem 1rem 1rem 0.7rem;
				border-top: $container-border;
				border-bottom: $container-border;

				p {
					font-size: 95%;
					line-height: 1.7;
					margin: 1rem 0 0.25rem 0;
				}
			}

			.session-speakers {
				grid-row: 2 / span 1;
				grid-column: 1 / span 2;
			}
		}

		.wpcampus-sessions-list {
			margin: 1.5rem 0 0 0;

			.wpcampus-session {
				display: grid;
				grid-column-gap: 0;
				grid-row-gap: 0;
				margin: 1.5em 0 0 0;

				.event-name {
					display: block;
					background: #222; //rgba(#000,.05);
					color: #fff; //#666;
					font-size: 95%;
					font-weight: 400;
					text-align: center;
					text-transform: uppercase;
					padding: 0.3em;
					grid-row: 3 /span 1;
					grid-column: 1 / span 2;
				}

				.session-notification {
					grid-column: 1/span 2;
					background: $wpc-royal-blue;
					color: #fff;
					padding: 0.65em 0.8em;
					text-transform: uppercase;
					font-size: 0.95em;
					line-height: 1;
				}

				.session-graphic {
					display: none;
				}

				/*&--event-wpcampus-2016 {

					.event-name {
						background: $wpc-dark-blue;
						color: #fff;
					}
				}

				&--event-wpcampus-2017 {

					.event-name {
						background: #700;
						color: #fff;
					}
				}

				&--event-wpcampus-2018 {

					.event-name {
						background: $wpc-dark-blue;
						color: #fff;
					}
				}

				&--event-wpcampus-online-2017,
				&--event-wpcampus-online-2018,
				&--event-wpcampus-online-2019 {

					.event-name {
						background: $wpc-dark-blue;
						color: #fff;
					}
				}*/

				&--future {
					border-bottom: 2px solid $wpc-royal-blue;
				}

				&:first-child,
				*:first-child {
					margin-top: 0;
				}
			}
		}
	}

	.wpcampus-sessions-error,
	.wpcampus-sessions-loading {
		display: none;
		pointer-events: none;
		opacity: 0;
		transition: opacity 1s ease;
	}

	.wpcampus-sessions,
	.wpcampus-sessions-filters {
		opacity: 1;
		transition: opacity 1s ease;
	}

	&.error {

		.wpcampus-sessions,
		.wpcampus-sessions-filters {
			display: none;
		}

		.wpcampus-sessions-error {
			display: block;
			opacity: 1;
			pointer-events: auto;
			padding: 2rem;
			border: $container-border;

			> * {

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.loading {
		min-height: $loading-min-height;
		position: relative;
		pointer-events: none;
		//border: $container-border;

		* {
			pointer-events: none;
		}

		.wpcampus-sessions,
		.wpcampus-sessions-filters {
			opacity: 0.3;
		}

		.wpcampus-sessions-loading {
			display: block;
			opacity: 1;
			min-height: $loading-min-height;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('../images/loading.gif') center center no-repeat;
			z-index: 1000;
		}
	}

	@media #{$sessions-bp-small} {

		.wpcampus-sessions-filters {

			.wpcampus-sessions-update {
				grid-column: 1 / span 3;
				align-self: end;
			}

			.wpcampus-sessions-filter-field {

				&--assets {
					grid-column: unset;
				}

				&--search {
					grid-row: unset;
					grid-column: unset;
				}
			}

			.wpcampus-sessions-filters-form {
				grid-template-columns: auto auto auto;
				grid-template-rows: auto auto auto;
			}
		}

		.wpcampus-sessions {

			.wpcampus-sessions-list {

				.wpcampus-session {
					grid-template-columns: 200px 1fr;
					grid-column-gap: 0.7em;
					margin-top: 2.25em;

					.event-name {
						display: none;
					}

					.session-title {
						margin-bottom: 0.2em;
					}

					.session-graphic {
						display: flex;
						min-height: 1px;
						flex-direction: column;

						img {
							display: block;
							width: 100%;
							height: auto;
						}

						.event-thumbnail {
							background: #000;
							flex: 1;
							background: url('../images/sessions/wpcampus-standard.png') center center no-repeat;
							background-size: cover;
						}

						/*.event-name {
							display: block;
							grid-row: unset;
							grid-column: unset;
							margin-top: 0.3em;
						}*/
					}

					.session-speakers {
						grid-row: 2 / span 1;
					}

					&--event-wpcampus-2016 {

						.session-graphic .event-thumbnail {
							background-image: url('../images/sessions/wpcampus-2016.png');
						}
					}

					&--event-wpcampus-2017 {

						.session-graphic .event-thumbnail {
							background-image: url('../images/sessions/wpcampus-2017.png');
						}
					}

					&--event-wpcampus-2018 {

						.session-graphic .event-thumbnail {
							background-image: url('../images/sessions/wpcampus-2018.png');
						}
					}

					&--event-wpcampus-2019 {

						.session-graphic .event-thumbnail {
							background-image: url('../images/sessions/wpcampus-2019.png');
						}
					}

					&--event-wpcampus-online-2017,
					&--event-wpcampus-online-2018,
					&--event-wpcampus-online-2019 {

						.session-graphic .event-thumbnail {
							background-image: url('../images/sessions/wpcampus-2018-online.png');
						}
					}
				}
			}
		}
	}

	@media #{$sessions-bp-medium} {

		.wpcampus-sessions {

			.wpcampus-sessions-list {

				.wpcampus-session {

					.session-info-wrapper {

						.session-sidebar {

							ul {
								grid-template-columns: 1fr 1fr;
								grid-column-gap: .3em;
								grid-row-gap: .3em;
							}
						}
					}
				}
			}
		}
	}

	@media #{$sessions-bp-full} {

		.wpcampus-sessions {

			.wpcampus-sessions-list {

				.wpcampus-session {

					.session-speakers {
						grid-template-columns: 1fr 1fr;
						grid-column-gap: 0.5em;
						grid-row-gap: 0.5em;

						.session-speaker {

							a {
								display: grid;
								grid-template-columns: 50px auto;
								justify-content: stretch;
							}
						}
					}

					.session-info-wrapper {
						grid-template-columns: auto 17%;
						grid-column-gap: 1em;
						grid-row-gap: 0.5em;

						.session-sidebar {
							background: $wpc-light-blue;
							grid-column: unset;

							li {
								border-bottom: 3px solid #fff;
							}

							ul {
								grid-template-columns: auto;
								grid-row-gap: 0;
							}
						}

						&.has-session-sidebar {

							.session-info {
								grid-column: 1 / 1;
							}
						}
					}
				}
			}
		}
	}
}

/*.wpc-watch {

	.wpc-watch-count {
		font-style: italic;
		margin: 0 0 1rem 10px;
	}

	.wpc-watch-videos {

		.wpc-watch-video {
			padding: 10px;
			margin: 0 0 20px 0;

			iframe,
			object,
			embed,
			img {
				width: 100%;
				height: 100%;
				margin: 0;
				border: 0;
				padding: 0;
			}

			a {
				display: block;
			}

			.video-media {
				position: relative;

				img {
					display: block;
				}

				.video-play {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 0;
					height: 0;
					border-top: 35px solid transparent;
					border-bottom: 35px solid transparent;
					border-left: 40px solid black;
					opacity: 0.3;
				}

				a {

					&:focus,
					&:hover {

						img {
							opacity: 0.4;
						}

						.video-play {
							opacity: 1;
						}
					}
				}
			}

			.video-info {
				padding: 15px 10px 10px;
				text-align: left;

				.video-meta {
					font-size: 0.9em;
					line-height: 1.5;

					a {
						color: inherit;
					}

					.video-event {
						display: block;
						font-weight: 300;
						color: #666;
						margin-top: 5px;
					}
				}
			}
		}
	}

	.wpc-watch-no-videos,
	.wpc-watch-loading-message {
		display: none;
	}

	&.loading {
		min-height: 200px;
		position: relative;
		pointer-events: none;

		.wpc-watch-loading-message {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.7;
		}
	}

	&.no-videos {
		min-height: 200px;
		position: relative;

		.wpc-watch-no-videos {
			display: block;
			font-style: italic;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

	@media screen and (min-width: 600px) {

		.wpc-watch-video {
			width: 50%;
			float: left;

			&:nth-child(odd) {
				clear: both;
			}
		}
	}

	@media screen and (min-width: 980px) {

		.wpc-watch-video {
			width: 33%;
			float: left;

			&:nth-child(odd) {
				clear: none;
			}

			&:nth-of-type(3n+4) {
				clear: both;
			}
		}
	}
}*/
