@import "settings";

#wpc-code-of-conduct {
	background: $wpc-gray;
	padding: 25px 20px;
	font-family: $font-family;
	font-size: 0.9rem;
	line-height: 1.6rem;
	color: #fff;

	.container-title {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.1;
		margin: 0 0 .6rem 0;
		text-align: center;
		color: inherit;
	}

	a {
		font-weight: bold;
		color: inherit;
	}

	.wpc-container {
		max-width: $container-max-width;
		margin: 0 auto;
		position: relative;

		* {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}