@import "settings";

$mc-signup-bp-width: 700px;
$mc-signup-bp-open: "screen and (min-width: " + $mc-signup-bp-width + ");";

.wpc-mc-signup {
	clear: both;
	background: $wpc-light-blue;
	color: #000;
	margin: 0;
	padding: 1.75em;

	a {
		color: inherit;
	}

	h2 {
		font-weight: 600;
		font-size: 1.3rem;
		text-transform: uppercase;
		margin: 0 0 1em 0;
		line-height: 1.1;
	}

	h3 {
		clear: both;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.4;
		text-transform: none;
		margin: 0 0 0.5rem 0;
		color: $wpc-royal-blue;
	}

	p {
		line-height: 1.7;
		margin: 0 0 1.4rem;
	}

	.wpc-mc-disclaimer {
		font-style: italic;
		margin: 1.25em 0 0 0;
		padding: 1em 0 0 0;
		border-top: 1px solid rgba( $wpc-royal-blue, 0.2 );
	}

	.button.wpc-mc-button {
		display: block;
		width: 100%;
		height: auto;
		background: $wpc-royal-blue;
		color: #fff;
		text-align: center;
		font-size: 1.2rem;
		line-height: 1.2;
		border-radius: 0;
		padding: 1em;
		margin: 0 0 1em;

		*:last-child {
			margin-bottom: 0;
		}

		&:focus,
		&:hover {
			background: $wpc-dark-blue;
		}
	}

	.wpc-container {
		max-width: $container-max-width;
		margin: 0 auto;
		position: relative;
	}

	@media #{$mc-signup-bp-open} {

		.wpc-mc-cols {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-column-gap: 1.5em;

			.wpc-mc-text {
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;

				&:first-child {
					grid-column: 1 / span 1;
					grid-row: 1 / span 1;
				}
			}

			.button.wpc-mc-button {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
				margin: 0;

				&:last-child {
					grid-column: 2 / span 1;
					grid-row: 2 / span 1;
				}
			}
		}
	}
}

.wpc-mc-signup-forms {
	clear: both;
	background: $wpc-light-blue;
	color: #000;
	margin: 2rem 0;
	padding: 1.75em;

	a {
		color: inherit;
	}

	.wpc-mc-disclaimer {
		font-style: italic;
		margin: 1.5rem 0 0 0;
	}

	h2 {
		font-weight: 600;
		font-size: 1.3rem;
		text-transform: uppercase;
		margin: 0 0 0.5rem 0;
	}

	h3 {
		clear: both;
		font-weight: 600;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin: 0 0 0.5rem 0;
		color: $wpc-royal-blue;
	}

	.indicates-required {
		font-size: 0.9rem;
		text-align: left;
		margin: 0 0 1.5rem 0;
	}

	.asterisk {
		color: #900;
	}

	.button.wpc-mc-button {
		display: block;
		width: 100%;
		background: $wpc-royal-blue;
		color: #fff;
		text-align: center;
		line-height: inherit;

		&:focus,
		&:hover {
			background: $wpc-dark-blue;
		}
	}

	p {
		clear: both;
		font-size: 0.9rem;
		margin: 0.5rem 0 0 0;
	}

	.wpc-mc-signup-forms {
		clear: both;

		form {
			display: block;
			margin: 1.5rem 0 0 0;
			padding: 0;

			label {
				display: block;
				font-size: 0.9rem;
				color: #000;
				font-weight: bold;
				margin: 0 0 0.5rem 0;
			}

			input[type="email"] {
				display: block;
				width: 100%;
				background: #fff;
			}

			.mc-field-group {
				clear: both;
				padding: 0;
			}

			.button.wpc-mc-button {
				font-size: 1.2rem;
				padding: 10px 20px;
				height: auto;
				margin: 0.7rem 0 0 0;
			}

			& + form {
				margin-top: 2.5rem;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media #{$mc-signup-bp-open} {

		h2 {
			float: left;
		}

		.indicates-required {
			float: right;
			text-align: right;
			margin-bottom: 0.5rem;
		}

		.wpc-mc-signup-forms {
			display: flex;

			form {
				flex: 1;
				padding: 0 1rem;
				margin: 0 !important;

				.mc-field-group {
					display: flex;
					align-items: center;
					width: auto;
					margin: 1rem 0 0 0;

					label {
						padding: 0;
						margin: 0;
					}

					input[type="email"] {
						margin: 0;
					}

					.mc-field-email {
						flex: 1;
						padding: 0 0 0 15px;
					}
				}

				.button.wpc-mc-button {
					margin: 1rem 0 0 0;
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
