@import "settings";
@import "login-icons";

$login-width: 100%;
$login-max-width: 520px;

html {
	height: auto;
	min-height: 100%;
	box-sizing: border-box;
}

body {
	background: $wpc-dark-blue;
	height: auto;
	min-height: 100%;
	padding: 2rem 3rem 3rem;
	box-sizing: border-box;

	&.login-action-lostpassword {

		p.message {
			display: none;
		}
	}

	@media screen and (min-width: 620px) {
		padding: 5rem 3rem;
	}
}

#login {
	width: $login-width;
	max-width: $login-max-width;
	padding: 0;

	h1 {

		a {
			display: block;
			background: url( "../images/wpcampus-white.svg" ) center bottom no-repeat;
			background-size: 100% auto;
			width: 85%;
			height: 50px;
			margin-bottom: 30px;
		}
	}

	form {

		p.submit {
			display: block;
			clear: both;
			margin: 20px 0 0 0;
		}
	}
}

.login {

	form {
		padding-bottom: 35px;

		.forgetmenot {
			float: none;
		}

		.button-primary {
			display: block;
			background: $wpc-royal-blue;
			float: none;
			width: 100%;
			height: auto !important;
			border: 0;
			color: #fff;
			cursor: pointer;
			padding: 12px 0 12px 0 !important;
			font-size: 1.1em;
			line-height: 1em !important;
			text-transform: uppercase;
			text-shadow: none;

			&:hover,
			&:focus {
				background: $wpc-orange;
			}
		}
	}

	#nav,
	#backtoblog {
		display: none;
	}

	#wpc-login-instructions {
		background: #fff;
		width: $login-width;
		max-width: $login-max-width;
		box-sizing: border-box;
		margin: 1rem auto;
		padding: 2rem;
		color: #222;
		font-size: 0.9rem;
		line-height: 1.7;

		h2 {
			font-size: 1.3rem;
			font-weight: bold;
		}

		h3 {
			font-size: 1rem;
			font-weight: bold;
		}

		p {
			margin: 0 0 1rem;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	$login_nav_bg: #ccc;

	nav#wpc-login-nav {
		width: $login-width;
		max-width: $login-max-width;
		margin: 1rem auto;
		padding: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,.04);

		.wpc-icon {
			text-decoration: none;
			margin: 0 0.4rem 0 0;
			fill: #fff;
		}

		ul, li {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			margin-top: 1px;

			&:first-child {
				margin-top: 0;
			}
		}

		a {
			display: block;
			background: $login_nav_bg;
			color: #000;
			padding: 1rem 1.5rem;
			font-size: 1rem;
			text-decoration: none;

			span:not(.wpc-icon) {
				text-decoration: underline;
			}

			&:focus,
			&:hover {
				background: darken( $login_nav_bg, 7% );
				color: #000;
			}
		}
	}
}
