body {
	background: #2e3641;
}

#login {

	h1 {

		a {
			display: block;
			background: url( "../images/wpcampus-white.svg" ) center bottom no-repeat;
			background-size: 100% auto;
			width: 90%;
			height: 50px;
		}
	}

	form {

		p.submit {
			display: block;
			clear: both;
			margin: 20px 0 0 0;
		}
	}
}

.login {

	form {
		padding-bottom: 35px;

		.forgetmenot {
			float: none;
		}

		.button-primary {
			display: block;
			background: #1159bd;
			float: none;
			width: 100%;
			height: auto !important;
			border: 0;
			color: #fff;
			cursor: pointer;
			padding: 12px 0 12px 0 !important;
			font-size: 1.1em;
			line-height: 1em !important;
			text-transform: uppercase;
			text-shadow: none;

			&:hover {
				background: #333;
			}
		}
	}

	#nav,
	#backtoblog {
		color: #fff;

		a {
			color: inherit;
		}
	}
}
