$wpc-banner-bg: #222;
$wpc-banner-color: #fff;
$wpc-banner-max-width: 920px;
$wpc-banner-padding-vert: 8px;

#wpc-network-banner {
	background: $wpc-banner-bg;
	color: $wpc-banner-color;

	a {
		color: inherit;
	}

	* {
		font-size: inherit;
		color: inherit;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.container {
		max-width: $wpc-banner-max-width;
		margin: 0 auto;
		padding: $wpc-banner-padding-vert 0;
	}
}