$wpc-network-banner-bg: #222;
$wpc-network-banner-color: #fff;
$wpc-network-banner-max-width: 920px;
$wpc-network-banner-padding-vert: 8px;

#wpcampus-network-banner {
	background: $wpc-network-banner-bg;
	color: $wpc-network-banner-color;

	a {
		color: inherit;
	}

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}

	.container {
		max-width: $wpc-network-banner-max-width;
		margin: 0 auto;
		padding: $wpc-network-banner-padding-vert 0;
	}
}