// Layout
$container-max-width: 920px;

// Colors
$wpc-gray: #444;
$wpc-royal-blue: #1159bd;
$wpc-dark-blue: #2e3641;
$wpc-light-blue: #e4eaf4;
$wpc-orange: #A76739;

// Fonts
$font-family: 'Open Sans', sans-serif;
