.wpc-watch {
	overflow: auto;

	*,
	*:before,
	*:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}

	.wpc-watch-count {
		font-style: italic;
		margin: 0 0 1rem 10px;
	}

	.wpc-watch-video {
		padding: 10px;
		margin: 0 0 20px 0;

		iframe,
		object,
		embed,
		img {
			width: 100%;
			height: 100%;
			margin: 0;
			border: 0;
			padding: 0;
		}

		a {
			display: block;
		}

		.video-media {
			position: relative;

			img {
				display: block;
			}

			.video-play {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				border-top: 35px solid transparent;
				border-bottom: 35px solid transparent;
				border-left: 40px solid black;
				opacity: 0.3;
			}
		}

		.video-info {
			padding: 15px 10px 10px;
			text-align: left;

			.video-title {
				font-size: 1.2em;
				line-height: 1.5;
				font-weight: 600;

				a {
					color: inherit;
					text-decoration: none;

					&:focus,
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.video-meta {
				font-size: 0.9em;
				line-height: 1.5;
				color: #666;

				a {
					color: inherit;
				}

				.video-event {
					display: block;
					font-weight: 300;
					margin-top: 5px;
				}

				.video-authors {
					display: block;
					list-style: none;
					font-weight: 400;
					margin: 15px 0 0 0;

					.video-author {
						display: block;
						margin: 7px 0 0 0;

						a {
							text-decoration: none;
						}

						img {
							display: inline-block;
							width: 35px;
							height: auto;
							border-radius: 50%;
							vertical-align: middle;
							margin: 0 7px 0 0;
						}
					}
				}
			}
		}

		&:focus,
		&:hover {

			.video-media {

				img {
					opacity: 0.4;
				}

				.video-play {
					opacity: 1;
				}
			}
		}
	}

	.wpc-watch-loading-message {
		display: none;
	}

	&.loading {
		position: relative;
		min-height: 200px;
		pointer-events: none;

		.wpc-watch-loading-message {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.7;
		}
	}

	@media screen and (min-width: 600px) {

		.wpc-watch-video {
			width: 50%;
			float: left;

			&:nth-child(odd) {
				clear: both;
			}
		}
	}

	@media screen and (min-width: 980px) {

		.wpc-watch-video {
			width: 33%;
			float: left;

			&:nth-child(odd) {
				clear: none;
			}

			&:nth-of-type(3n+4) {
				clear: both;
			}
		}
	}
}
